@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(./background_image.jpg);
    color: white;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container{
    max-width: 1240px;
    margin:auto;
    background-color: rgba(0,0,0,0.3);
    margin-top:30px;


}

header{
    
    text-align: center;
}


#title{
    font-size: 52px;
    padding-top: 30px;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;

    
}

span{
    color: red;
}

#description{
   
    font-size: 25px;
    font-family: "Sorts Mill Goudy", serif;
    
}

.container-main{
   
    background-color: rgba(0,0,0,0.8);
    width: 500px;
    margin: auto;
    padding: 30px 40px;
      
}

.box{
    /* border: 2px solid red; */
    font-size: 16px;
}

.box input{
    /* border: 2px solid red; */
   padding: 20px;
 } 

 #name,#age,#mail,#type,#feedback{
    width: 100%;
    margin-top: 10px;
    padding: 12px 10px;
      
 }
 textarea{
    resize: none;
    height: 91.46px;

 }

#submit{
    background-color: red;
    border: none;
    /* color: white; */
    padding: 10px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    width: 160px;
    height: 45px;
    transition: all 0.3s;
    
}

#submit:hover{
    background-color: white;
    color: red;
}



#type{
    padding: 10px;
    width: 350px;

}